body {
    background-color: rgb(22, 22 ,22);
    margin: 0%;
    font-family: sans-serif;
}


/*.title-banner is the background while .title is the h1 element*/
.title-banner {
    background-image: linear-gradient(to bottom right, rgb(0, 48, 255), rgb(0, 178, 190));
    width: 90%;
    min-width: 300px;
    height: auto;
    margin: auto;
    border-style: none;
    border-radius: 0% 0% 10px 10px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    margin: 0%;
    color: white;
    font-size: 4em;
    padding: 2%;
    text-shadow: 1px 1px 5px black;
}

.title:hover {
    cursor: default;
}


/*.nav-bar is the container for all the .nav-item elements*/
.nav-bar {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;
    color: rgb(60, 255, 0);
    font-size: 1.5em;
    margin-top: 3%;
}

.nav-item:hover {
    text-decoration: underline white;
}

/*Profile picture and name*/
.profilepic {
    width: 100px;
    height: 100px;
    background-image: url(../Media/profile-pic.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}